/*----- Comments -----*/
#comments {
    background: #fff;
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    border: 1px solid #ddd;
    border-top: 0
}

.post-comment-link {
    visibility: hidden
}

.comment_avatar_wrap {
    width: 42px;
    height: 42px;
    background: #fcfcfc;
    border-radius: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0
}

#comments .avatar-image-container {
    border-radius: 100%;
    float: left;
    margin: 0 10px 0 0;
    width: 42px;
    height: 42px;
    max-width: 42px;
    max-height: 42px;
    padding: 0;
    margin-bottom: 10px
}

#comments .avatar-image-container img {
    border-radius: 100%;
    width: 42px;
    height: 42px;
    max-width: 42px;
    max-height: 42px;
    background: url(//2.bp.blogspot.com/-fjaZBtfvzac/UN1mw2tUamI/AAAAAAAADkc/XdKqt8hWZ6w/s1600/anon.jpg) no-repeat
}

#comments .comment_name,
#comments .comment_admin .comment_name {
    padding: 0 0 10px 0;
    font-size: 13px;
    position: relative
}

#comments .comment_name a {
    color: #222;
    font-weight: 500;
    padding: 0;
    font-size: 14px;
    text-decoration: none
}

#comments .comment_admin .comment_date {
    font-weight: normal;
    font-size: 11px
}

#comments .comment_admin .comment_author_flag {
    display: inline-block;
    font-size: 14px;
    color: #d64136;
    text-align: center;
    margin: 0 0 0 3px;
}

#comments .comment_service {
    margin-top: 5px
}

#comments .comment_date {
    color: #a9a9a9;
    float: right;
    font-size: 11px;
    font-weight: normal;
    margin-top: -3px
}

#comments .comment_date a {
    color: #a9a9a9;
    float: right;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 0
}

#comments .comment_date a:hover {
    color: #a9a9a9;
    text-decoration: underline
}

#comments .comment_body {
    margin-left: 62px;
    margin-top: -64px;
    background: #fFF;
    padding: 18px 20px;
    line-height: 26px;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #ddd;
    border-left: 10px solid #d64136
}

#comments .comment_body p {
    margin: 5px 0 0 0;
    font-size: 14px;
    word-wrap: break-word;
    padding: 0 0 5px 0
}

#comments .comment_inner {
    margin: 12px 0;
}

#comments .comment_child .comment_wrap {
    padding-left: 3%;
}

#comments .comment_child .comment_wrap .comment_body {
    border-left: 1px solid #ddd;
}

#comments .comment_reply {
    display: inline-block;
    margin-top: 10px;
    padding: 1px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #d64136;
    border-radius: 3px;
    font: 11px/18px sans-serif;
    transition: background-color .5s ease-out 0s
}

#comments .comment_reply:hover {
    text-decoration: none;
    background: #c0392b
}

#comments .unneeded-paging-control {
    display: none
}

#comments .comment-form {
    max-width: 100%;
}

#comment-editor {
    width: 100%;
}

#comments .comment_form a {
    text-decoration: none;
}

#comments .comment-form p {
    padding: 20px;
    margin: 5px 0 15px;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    max-width: 100%;
    border: 1px solid #ddd;
}

#comments .comment_reply_form {
    padding: 0 0 0 70px;
    border-left: 1px solid #ddd
}

#comments .comment_reply_form .comment-form {
    width: 99%
}

.comment_emo_list .item {
    float: left;
    display: block;
    text-align: center;
    margin: 1px 1px 0 0;
    height: 40px;
    width: 41px
}

.comment_emo_list span {
    display: block;
    font-weight: 500;
    font-size: 11px;
    margin: 3px 0 0 0;
    letter-spacing: 1px
}

img.comment_emo {
    width: 16px;
    height: 16px;
}

.comment_youtube {
    max-width: 100%;
    width: 500px;
    height: 225px;
    display: block;
    margin: auto
}

.comment_img {
    max-width: 100%
}

#comments .deleted-comment {
    display: block;
    color: #999;
}

#comments .comment_header {
    width: 50px
}

#respond {
    overflow: hidden;
    padding-left: 10px;
    clear: both
}

#comments .comment_avatar img {
    width: 42px;
    height: auto;
    background: url(//3.bp.blogspot.com/-fr42e67HG4I/Vky8HLexiEI/AAAAAAAAM0I/MLMd2qwIH1E/s1600/avatar.png) no-repeat;
    border-radius: 100%
}

#comments .comment-delete img {
    float: right;
    margin-left: 15px;
    margin-top: 3px;
}

iframe {
    border: none;
    overflow: hidden;
    height: 270px !important;
    width: 100% !important
}

#emo-box,
#hide-emo {
    display: none
}

.paging-control-container {
    text-align: center;
    margin: 0 0 0 25%
}

.paging-control-container a {
    text-align: center;
    margin: 0 auto;
    background: #ccc;
    padding: 3px 10px
}

.button-group {
    float: right;
    text-align: left;
    margin: 0 auto
}

button,
button[disabled]:active {
    border: none;
    font-size: 12px;
    font-weight: normal;
    border-radius: 1px;
    padding: 4px 10px;
    text-decoration: none;
    background: #d64136;
    color: #fff;
    display: inline-block;
    transition: all 0.5s linear;
    cursor: pointer
}

button:hover {
    background: #c0392b;
    color: #fff;
    transition: all 0.2s linear
}

button:active {
    background: #c0392b;
    color: #fff
}

button[disabled],
button[disabled]:active {
    background: #c0392b;
    border-bottom: 2px solid #123;
    color: #fff;
    cursor: default
}

.small-button a,
.small-button1 a {
    font-weight: 500;
    background: #d64136;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin: 15px 5px 5px 0;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}

.small-button:hover a,
.small-button1:hover a {
    background: #c0392b;
}

.pesan h4 {
    overflow: hidden;
    position: relative;
    color: #222;
    padding: 10px 0;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    display: block;
    letter-spacing: .5px;
    font-size: 17px;
    border-bottom: 1px solid #ddd;
}

.pesan h4:before {
    content: '';
    display: inline-block;
    height: 14px;
    top: 0;
    left: 0;
    margin: 0 10px 0 0;
    width: 15px;
    background: #d64136
}

@media screen and (max-width:480px) {
    #comments .comment_child .comment_wrap .comment_body {
        border-left: 0;
    }

    #comments {
        padding: 10px
    }

    #comments .comment_body {
        margin-left: 52px;
        margin-top: -57px;
        padding: 0;
        width: auto;
        border: 0;
    }

    .comment_avatar_wrap {
        width: 32px;
        height: 32px;
        border-radius: 2px
    }

    #comments .comment_avatar img {
        width: 32px;
        background: #f6f6f6;
        border-radius: 100%
    }

    #comments .comment_reply {
        margin-top: 5px;
    }

    #comments .comment_body p {
        margin: 0;
        font-size: 13px;
        padding: 0
    }

    #comments .comment_name,
    #comments .comment_admin .comment_name {
        padding: 0
    }

    #comments .comment-delete img {
        opacity: .5
    }

    #comments .comment-delete:hover img {
        opacity: .8
    }

    #comments .comment_inner {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05)
    }

    #comments .comment_date,
    #comments .comment_body:before {
        display: none
    }
}

@media screen and (max-width:300px) {
    #comments {
        padding: 5px
    }
}