#container,
#sidebar-wrapper,
#background,
#post-wrapper,
.post,
#content-wrapper,
#footer-wrapper {
    display: none;
}

body {
    color: #fff;
    overflow: hidden
}

.container404 {
    margin: 8% auto 0 auto;
    max-width: 768px;
    min-width: 200px;
    line-height: normal;
    font-size: 16px;
    backface-visibility: hidden;
    transition: all .3s;
}

.boxi404 hr {
    background: transparent;
    display: block;
    border: none;
    border-bottom: 4px solid rgba(255, 255, 255, .3)
}

.boxi404 {
    padding: 20px;
    font-size: 110%;
    color: #fff;
    border-radius: 5px 5px 0 0
}

.boxi404 h2,
.boxi404 h3 {
    color: #fff;
    display: block;
    font-weight: 500;
    font-size: 2.6rem;
    text-transform: uppercase
}

.boxi404 h2 {
    position: absolute;
    font-size: 20rem;
    color: rgba(255, 255, 255, .3);
    transform: rotate(-45deg);
    right: 3%;
    bottom: 8%
}

.boxi404 p {
    display: block;
    margin: 10px 0
}

.boxi404 ul li {
    margin: 0 0 8px 20px;
    list-style: initial;
    list-style-type: square
}

.boxi404 ul li a {
    color: #ff6500;
}

.boxi404 ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #e5ffaf;
}

@media screen and (max-width:1024px) {
    .boxi404 h2 {
        font-size: 10rem;
    }

    .container404 {
        margin: 4% auto 0 auto;
    }
}

@media screen and (max-width:640px) {
    .boxi404 h3 {
        font-size: 1.6rem;
    }

    .boxi404 h2 {
        display: none
    }
}