/*----- CSS Reset -----*/
article,
aside,
body,
details,
figcaption,
figure,
footer,
header,
hgroup,
html,
menu,
nav,
section {
    display: block
}

a:hover,
a:link,
a:visited,
abbr {
    text-decoration: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

small,
sub,
sup {
    font-size: 86%
}

body {
    overflow: hidden;
    line-height: 1;
    background: url(//1.bp.blogspot.com/-JaoFDvyiE2c/W1orSNHVihI/AAAAAAAAAuA/QJ852sWWr3EfxhRlWfrjxEXVq98WfZDiQCLcBGAs/s170/catatan_nizwar_texture.png)
}

html {
    -webkit-font-smoothing: antialiased
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.titlewrapper {
    margin-left: 10px
}

.section,
.widget {
    margin: 0;
    padding: 0
}

b,
strong {
    font-weight: 700;
    padding: 0;
    transition: color .2s
}

.post-body h1,
.post-body h2,
.post-body h4,
.post-body th,
blockquote:after,
blockquote:before,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500
}

b:hover,
strong {
    left: -.1em;
    content: '[';
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.nav-grid:after,
.post-body h2:before {
    content: ''
}

cite,
em,
i {
    font-style: italic
}

a:hover {
    color: #444;
    transition: all 1s ease-out
}

a img {
    border: none;
    border-width: 0;
    outline: 0
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    top: -.4em
}

sub {
    top: .4em
}

kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .1em .5em;
    margin: 0 .2em;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7
}

mark {
    background-color: #ffce00;
    color: #182025
}

blockquote,
dl,
figure,
form,
hr,
ol,
p,
pre,
table,
ul {
    margin: 1.5em 0
}

hr {
    height: 1px;
    border: none;
    background-color: #999
}

:focus {
    outline: 0 !important
}

a:link,
a:visited {
    color: #d64136
}

.date-header,
.feed-links,
.navbar,
.post-feeds,
.quickedit {
    display: none
}

abbr {
    outline: 0
}

.post-body .separator a,
.post-body .separator span {
    margin: 8px 0 !important;
    display: block
}

#page-loader {
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background: #d64136
}

.page-loaddesc {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.js-load,
.menu ul li a {
    text-transform: uppercase
}

.js-load {
    display: block;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 5px
}

a.js-load,
span.js-load {
    background: #d64136;
    color: #fff
}

a.js-load:hover,
span.js-load:hover {
    background: #c0392b;
    color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    margin: 0 0 .6em
}

h1 {
    font-size: 180%
}

h2 {
    font-size: 160%
}

h3 {
    font-size: 140%;
    margin-top: 10px
}

h4 {
    font-size: 120%
}

h5 {
    font-size: 110%
}

h6 {
    font-size: 100%
}

.post-body h2 {
    position: relative;
    margin: 0 0 10px;
    padding: 10px 0;
    border-bottom: 2px solid #e0e0e0
}

.post-body h2:before {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: #d64136;
    width: 15%;
    height: 2px
}

.post ol li,
.post ul li span {
    position: relative;
    padding: 0;
    display: block;
    text-decoration: none
}

.post-body h4 {
    color: #d64136
}

dt,
pre:hover:after {
    font-weight: 700
}

button,
input,
select,
textarea {
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline
}

textarea {
    display: block;
    box-sizing: border-box
}

input.placeholder_text,
input:-moz-placeholder,
input::-webkit-input-placeholder,
textarea.placeholder_text,
textarea:-moz-placeholder,
textarea::-webkit-input-placeholder {
    color: #888
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity .5s .5s ease;
    opacity: 0
}

.btn,
.btn:hover {
    transition: all .1s ease
}

input,
textarea {
    font-family: "Maven Pro", Arial, sans-serif
}

.post-body ul,
dl,
ol {
    margin: .5em 0 .5em 3em
}

ul {
    list-style: disc
}

#tombol,
.Label li,
.bacajuga ul,
.menu ul,
.nav-grid ul,
ol {
    list-style: none
}

.post-body li {
    margin: .5em 0;
    list-style-type: square
}

dd {
    margin: 0 0 .5em 2em
}

.post ul li span {
    margin: .5em 0 .5em 2em
}

ol {
    counter-reset: li;
    padding: 0;
    margin: 0
}

ol ol {
    margin: 0 0 0 2em
}

.post ol li {
    margin: .5em 0 .5em 2em;
    background: #fff
}

.post ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    height: 2em;
    width: 2em;
    text-align: center
}

.post-body ul {
    position: relative;
    display: block;
    padding: 0;
    margin: .5em 0 .5em 1.5em;
    text-decoration: none
}

pre:hover:after {
    box-shadow: -2px 2px 0 #222;
    content: "Double Click to Selection:)";
    font-family: arial;
    font-size: 12px;
    padding: 5px 8px;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 15px;
    color: #333;
    background: #f2f2f2;
    border-radius: 2px
}

#container-data-niz,
.menu ul ul {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
}

pre.line-number:after,
pre:hover:before {
    content: "";
    position: absolute
}

pre:hover:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent transparent #f2f2f2;
    top: 12px;
    right: 6px;
    z-index: 1
}

i[rel=pre],
pre {
    padding: .8em 1em;
    margin: 0;
    background-color: #2E1C1C;
    border-left: 4px solid #D32B05;
    font-size: 11px;
    color: #839496;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New",
        Courier,
        Monospace;
    line-height: 1.4em;
    position: relative;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
    max-height: 500px
}

.FeaturedPost .post-summary p,
.Label li a,
.Label ul li span,
.breadcrumbs,
.post-body table.tr-caption-container td,
.post-info {
    text-overflow: ellipsis;
    white-space: nowrap
}

pre.line-number:after {
    width: 35px;
    height: 8px;
    background-color: #39424e;
    bottom: 0;
    left: 0
}

pre[data-codetype=CSS] {
    border-left-color: #F80
}

pre[data-codetype=HTML] {
    border-left-color: #4fc1eb
}

pre[data-codetype=JavaScript] {
    border-left-color: #FFD400
}

pre[data-codetype=JQuery] {
    border-left-color: #99c262
}

code {
    font-family: Consolas, 'Andale Mono';
    line-height: 16px;
    color: #88a9ad;
    background-color: transparent;
    padding: 1px 2px;
    font-size: 12px
}

code mark,
pre code mark {
    background-color: #ea4f4e !important;
    color: #fff !important;
    padding: 2px;
    border-radius: 2px
}

#comments code {
    color: #bbbb6d
}

pre code {
    padding: 0 !important;
    color: #a3a49a;
    background: 0 0 !important;
    border: none !important;
    display: block
}

blockquote {
    text-align: left;
    background: #d64136;
    position: relative;
    display: block;
    padding: 55px 20px 20px;
    color: #fff;
    margin: 10px 0;
    border-radius: 3px
}

blockquote:before {
    position: absolute;
    content: 'Catatan';
    background: #fff;
    right: 3px;
    left: 3px;
    top: 3px;
    padding: 5px 20px;
    display: block;
    border-radius: 3px 3px 0 0;
    color: #d64136
}

blockquote:after {
    position: absolute;
    content: '\f027';
    right: 10px;
    bottom: 5px;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 160%;
    color: rgba(255, 255, 255, .6)
}

.post-body table {
    width: 100%;
    max-width: 100%
}

.post-body table caption,
.post-body table td {
    background: #fff;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd
}

.post-body table th {
    background: #d64136;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    color: #fff;
    border: 1px solid #d64136
}

.post-body table.tr-caption-container {
    border: 0;
    margin: 0
}

.post-body table caption {
    border: none;
    font-style: italic
}

.post-body td,
.post-body th {
    vertical-align: top;
    text-align: left;
    font-size: 13px;
    padding: 3px 5px;
    border: 1px solid #97b28e
}

.post-body table tr:nth-child(even)>td {
    background-color: #fff;
    border: 1px solid #ddd
}

.post-body td a {
    color: #d64136
}

.post-body td a:hover {
    color: #444
}

.post-body table.tr-caption-container td {
    padding: 0;
    background: #fff;
    line-height: 17px;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    color: #444;
    border: 1px solid #ddd
}

.post-body img,
.post-body table.tr-caption-container,
.post-body table.tr-caption-container img {
    max-width: 100%;
    height: auto
}

.post-body td.tr-caption {
    font-size: 85%;
    padding: 10px !important
}

.sr {
    visibility: hidden;
    width: 0;
    height: 0
}

.menu,
nav {
    width: 100%
}

.clear {
    clear: both
}

::selection {
    background: #2eb0ec;
    color: #fff;
    text-shadow: none
}

.post-body ::selection {
    background: #2eb0ec;
    color: #fff
}

.status-msg-wrap {
    background: #d64136;
    color: #fff;
    width: 100%;
    margin: 0 auto 20px;
    padding: 15px;
    display: block
}

.status-msg-wrap a {
    color: #fff;
    padding: 0
}

.status-msg-wrap a:hover {
    padding: 5px 15px;
    background: #fff;
    color: #222
}

body,
nav {
    padding: 0
}

body {
    font: 400 14.5px 'Maven Pro', Arial, sans-serif;
    margin: 0
}

.nav_wrapper {
    float: right
}

.btn {
    padding: 5px 1%;
    margin: 5px;
    color: #c0392b;
    text-decoration: none
}

.menu-link,
.spinner-master input[type=checkbox] {
    display: none
}

.menu ul,
.menu>ul>li {
    display: inline-block
}

.menu {
    height: auto;
    transition: all .3s ease;
    padding-right: 80px
}

.menu ul {
    padding: 0;
    margin: 0;
    position: relative
}

#background-box,
#container-data-niz {
    margin: 0 auto;
    max-width: 1000px
}

.menu>li>ul.sub_menu {
    min-width: 15em;
    padding: 4px 0;
    background-color: #fff
}

.menu ul li {
    padding: 0
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px
}

.menu ul li a:hover {
    background: #c0392b
}

.menu ul li>a {
    padding: 20px 10px
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 200px;
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2)
}

.menu ul li:hover>ul {
    display: block
}

.menu ul ul>li {
    position: relative
}

.menu ul ul>li a {
    transition: all .1s ease;
    padding: 10px 15px;
    height: auto;
    background: #fff;
    color: #222;
    border: 1px solid #ddd;
    border-top: none;
    font-weight: 500;
    font-size: 13px;
    text-transform: none
}

.menu ul ul>li a:hover {
    color: #d64136;
    background: #fff;
    border-left: 5px solid #d64136
}

#background,
#container {
    background: #d64136;
    width: 100%
}

.menu ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    text-transform: none
}

#outer-wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden
}

#header-wrapper {
    overflow: hidden;
    max-height: 70px;
    margin: 0;
    float: left
}

#header a {
    color: #fff;
    font-weight: 700
}

#header h1,
#header h2,
#header p {
    color: #fff;
    line-height: 2em;
    font-size: 190%;
    height: auto;
    top: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700
}

#header .description {
    display: none
}

#header img {
    display: block;
    height: 50px;
    width: 150px;
    padding: 10px 0
}

#container-data-niz {
    padding: 0;
    position: relative;
    background: #d64136;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2)
}

#container {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2)
}

#background {
    height: 500px;
    display: block;
    margin: 50px auto 0
}

#background h3 {
    color: #fff;
    font-size: 40px;
    padding: 80px 0 0;
    text-align: center
}

.nav-grid .nav-1 .icon:before,
.nav-grid .nav-2 .icon:before,
.nav-grid .nav-3 .icon:before,
.nav-grid .nav-4 .icon:before,
.nav-grid .nav-5 .icon:before,
.nav-grid .nav-6 .icon:before {
    font-family: FontAwesome;
    font-size: 30px
}

.nav-kotak {
    float: left;
    margin: 30px auto;
    text-align: center;
    width: 100%
}

.nav-grid:after {
    clear: both;
    display: block
}

.nav-grid ul {
    margin: 0;
    padding: 0;
    clear: both
}

.nav-grid ul li a {
    padding: 20px;
    background: rgba(0, 28, 33, .38);
    border-radius: 5px
}

.vertical a,
.vertical span:not(.fa) {
    display: block;
    padding-top: 5px;
    color: #fff;
    text-align: center;
    text-transform: capitalize
}

#box p,
#footer-wrapper,
#h3,
.sidebar h2,
.sidebar-sticky h2 {
    text-transform: uppercase
}

mark.yes {
    padding: 5px;
    background: #81d742;
    color: #fff
}

.nav-grid ul li {
    text-align: center;
    width: 33%;
    float: left;
    padding: 5px
}

#search-box,
#share {
    float: right
}

.nav-grid .fa {
    color: #fff
}

.nav-grid .nav-1 .icon:before {
    content: "\f17b"

}

.nav-grid .nav-2 .icon:before {
    content: "\f15a"

}

.nav-grid .nav-3 .icon:before {
    content: "\f200"

}

.nav-grid .nav-4 .icon:before {
    content: "\f11b"

}

.nav-grid .nav-5 .icon:before {
    content: "\f044"

}

.nav-grid .nav-6 .icon:before {
    content: "\f17a"

}

.nav-grid ul li a:hover {
    background: #c0392b
}

#search-box {
    position: relative;
    width: 100%;
    margin: auto 0
}

#search-form {
    overflow: hidden
}

#search-text {
    font-size: 14px;
    color: #444;
    border: 1px solid #ddd
}

#search-box input[type=text] {
    width: 90%;
    padding: 9px 0 10px 15px;
    color: #444;
    outline: 0
}

#search-button {
    position: absolute;
    right: 0;
    height: 35px;
    width: 50px;
    font-size: 14px;
    color: #fff;
    background: #000;
    text-align: center;
    line-height: 25px;
    border-width: 0;
    cursor: pointer
}

.breadcrumbs,
.post {
    border: 1px solid #ddd
}

#content-wrapper {
    max-width: 1000px;
    margin: 30px auto 0;
    padding: 20px 5px;
    word-wrap: break-word
}

.FeaturedPost .post-summary {
    background: #fff;
    position: relative;
    padding: 0;
    min-height: 200px;
    max-height: 350px;
    overflow: hidden;
    clear: both;
    margin: 2% 1%
}

.FeaturedPost .post-summary h2 {
    background: rgba(34, 34, 34, .35);
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    width: 100%;
    padding: 30px
}

.FeaturedPost .post-summary h2:after {
    content: "";
    position: absolute;
    top: -.25em;
    right: 100%;
    bottom: -.25em;
    width: .25em
}

.FeaturedPost .post-summary h2 a {
    color: #fff;
    padding: 0;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 500
}

.FeaturedPost .post-summary p {
    position: absolute;
    background: #fff;
    color: #5a5a5a;
    padding: 3px 8px;
    bottom: 15px;
    margin: 0 15px;
    overflow: hidden;
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.FeaturedPost .image {
    display: block
}

.image {
    width: 100%;
    height: 100%;
    max-height: 350px
}

#post-wrapper {
    float: left;
    width: 68%;
    margin: 30px 0 0;
    padding: 0;
    word-wrap: break-word;
    overflow: hidden
}

.post-body {
    color: #444;
    padding: 0 30px;
    margin: 0;
    line-height: 1.5em
}

.post-body a:hover {
    color: #444;
    transition: all 1s ease-out
}

.post-body img,
.post-body object,
.post-body video {
    background: #fafafa;
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 0
}

.breadcrumbs {
    background: #fff;
    color: #444;
    overflow: hidden;
    font-size: 12.5px;
    padding: 15px 30px
}

.breadcrumbs a {
    color: #444;
    margin: 0 2px;
    line-height: normal
}

.breadcrumbs .breadhome a {
    margin: 0 5px 0 0
}

.breadcrumbs .breadlabel:last-child {
    margin: 0 0 0 4px
}

.breadcrumbs a:hover {
    color: #d64136
}

.post {
    border-top: 0;
    border-bottom: 0;
    position: relative
}

h1.post-title.entry-title,
h2.post-title.entry-title {
    font-size: 30px;
    text-align: left;
    padding: 20px 30px 0;
    margin: 0;
    font-weight: 500
}

h1.post-title.entry-title a,
h2.post-title.entry-title a {
    color: #444
}

h1.post-title.entry-title a:hover,
h2.post-title.entry-title a:hover {
    color: #d64136
}

.FeaturedPost h2,
h2#judul-post {
    font-size: 15px;
    padding: 15px;
    background: #d64136;
    margin: 0 1%;
    text-transform: uppercase;
    display: block;
    letter-spacing: .5px;
    color: #fff;
    font-weight: 700
}

#share,
#share-bawah {
    padding: 0;
    text-align: center
}

#share a,
#share-bawah a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 5px;
    color: #fff;
    border-radius: 5px;
    position: relative
}

#share a {
    line-height: 1.8em;
    width: 47px;
    height: 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

#share-bawah a,
#sosmed a {
    box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#h3 {
    color: #222;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    padding: 30px 0 20px
}

#h3 span {
    color: #d64136
}

#share-bawah {
    float: left;
    width: 100%;
    clear: both
}

#share-bawah a {
    line-height: 2em;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box
}

.wa {
    background: #25d366
}

.pt {
    background: #ca2128
}

.li {
    background: #0673ab
}

#wadah {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0;
    border-bottom: 1px solid #ddd
}

.post img.firstimage {
    width: 100%;
    height: 450px
}

.kolom-author {
    position: relative;
    background: #fff;
    height: auto;
    padding: 5px 30px
}

.post-info,
.tanggal,
a.updated {
    position: absolute
}

.about-author {
    overflow: auto;
    margin-top: -50px;
    float: left
}

.about-author img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid #fff
}

.pengarang {
    margin-left: 3px;
    color: #a3a3a3;
    float: left;
    font-size: 13px;
    padding: 10px 0
}

.pengarang a {
    color: #d64136;
    font-weight: 700
}

.tanggal {
    background: rgba(0, 28, 33, .38);
    padding: 5px 10px;
    font-size: 13px;
    top: 0;
    right: 0
}

.tanggal a {
    color: #fff
}

.info-data-niz {
    clear: both;
    font-size: 13px;
    padding: 20px 30px 20px 20px;
    float: left;
    margin: 0;
    width: 100%
}

.comment-info,
.comment-info a,
.label-info,
.label-info a {
    color: #444;
    float: left;
    display: block;
    padding: 0;
    margin: 0 5px
}

.iklan-tengah,
.post-info {
    overflow: hidden;
    display: none
}

.info-data-niz i {
    margin-right: 3px
}

.author-info,
.post-timestamp {
    padding: 0;
    margin: 0 5px 0 0
}

.post-timestamp {
    float: right
}

#blog-pager-newer-link,
.Label li,
.label-size {
    float: left
}

.post-timestamp i {
    font-size: 25px;
    vertical-align: middle;
    margin: 0 5px 0 0
}

.post-timestamp a abbr.published.updated {
    border: 0;
    cursor: pointer
}

.post-info {
    color: #777;
    padding: 10px 15px;
    border: 0;
    margin: 0;
    bottom: 10px
}

.post-info a {
    color: #777;
    margin: 0 5px 0 0;
    font-size: 13px
}

.post-info a:hover {
    color: #d64136
}

.author-info img.avatar-photo1 {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin: 0 5px 0 0;
    vertical-align: middle
}

a.updated {
    background: rgba(0, 0, 0, .5);
    padding: 5px 10px;
    top: 5px;
    z-index: 10;
    color: #fff;
    left: 5px
}

.iklan-tengah {
    height: auto;
    margin: 30px 0;
    width: auto;
    clear: both;
    padding: 0
}

.iklan-tengah img {
    background: url(//3.bp.blogspot.com/-g-jOarCEazk/W1wqOzgYFxI/AAAAAAAAAG8/4bcSF0wUaAI5myCQCUD7WjfLmNm5sDGzgCLcBGAs/s1600/Iklan.png) #f0f0f0;
    width: 100%;
    height: auto
}

.iklan-atas,
.iklan-bawah {
    height: auto;
    width: auto;
    display: none;
    overflow: hidden
}

.iklan-atas {
    margin: 0;
    float: left;
    padding: 0 15px 15px 0
}

.iklan-bawah {
    margin: 30px 0;
    clear: both;
    padding: 0
}

.bacajuga {
    position: relative;
    border: 1px solid #ddd;
    margin: 5px 0;
    width: 100%;
    clear: both;
    display: none
}

.bacajuga h4 {
    background: #d64136;
    color: #fff;
    position: relative;
    padding: 15px;
    font-size: 16px
}

.bacajuga ul {
    padding: 10px 20px;
    clear: both
}

.bacajuga li {
    line-height: 1.7em;
    clear: both
}

.mySlides img {
    margin: auto
}

.mySlides .separator a {
    margin: 0 !important
}

.mySlides {
    padding-bottom: 10px;
    padding-top: 10px;
    display: none;
    color: #fff
}

.slideshow-container {
    text-align: center;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
    background: url(//1.bp.blogspot.com/-Lms0Sd1K2F0/WgSM4R0ZaJI/AAAAAAAAA9A/Vz5vMgsuUtosr96JpGJC1cUm1E1g1KG7wCK4BGAYYCw/s0/sayagata-400px.png) top left #f0f0f0
}

.next,
.numbertext,
.prev,
.text {
    position: absolute
}

.next,
.prev {
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: 700;
    font-size: 18px;
    transition: .6s ease;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    cursor: pointer
}

.gambar img {
    max-height: 600px
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px
}

.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, .8)
}

.text h4 {
    margin: 0 !important
}

.text {
    margin: 0;
    color: #fff;
    background: linear-gradient(to bottom, transparent 0, transparent 0, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, 0) 100%) rgba(0, 0, 0, 0);
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    bottom: 0
}

.numbertext {
    margin: 10px;
    color: #f2f2f2;
    font-size: 12px;
    padding: 5px 3px;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: rgba(0, 0, 0, 0)
}

.fade {
    opacity: 1;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width:300px) {

    .next,
    .prev,
    .text {
        font-size: 11px
    }
}

#sidebar-wrapper {
    float: right;
    width: 30%;
    margin: 30px 0;
    overflow: hidden;
    padding: 0;
    max-width: 300px
}

.sidebar-inner {
    padding: 15px 0
}

.sidebar .widget-content,
.sidebar-sticky .widget-content {
    padding: 10px 15px
}

.sidebar h2,
.sidebar-sticky h2 {
    color: #fff;
    padding: 15px;
    margin: 0;
    display: block;
    letter-spacing: .5px;
    font-size: 15px;
    background: #d64136;
    font-weight: 700
}

.sidebar h3 {
    margin-bottom: 15px
}

.sidebar .widget,
.sidebar-sticky .widget {
    background: #fff;
    margin: 0 0 15px;
    border: 1px solid #ddd
}

.sidebar ol,
.sidebar ul,
.sidebar-sticky ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 10px
}

.sidebar li,
.sidebar-sticky li {
    margin: 5px 0;
    padding: 0
}

.sidebar-sticky {
    z-index: 997;
    width: 100%;
    max-width: 300px
}

.PopularPosts .widget-content {
    padding: 0;
    box-sizing: border-box
}

.PopularPosts .widget-content ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    background: #d64136
}

.PopularPosts .widget-content ul li {
    margin: 0;
    padding: 20px 0 20px 50px;
    position: relative;
    overflow: hidden
}

.PopularPosts .widget-content ul li:last-child {
    border-bottom: none
}

.PopularPosts .widget-content ul li .item-title {
    color: #fff;
    line-height: 1.3em;
    padding: 0 10px 0 0
}

.PopularPosts .widget-content ul li .item-title a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500
}

.PopularPosts .item-snippet {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 1.1em
}

.PopularPosts .widget-content ul li img {
    max-height: 200px;
    width: 100%;
    height: 200px;
    padding-right: 0;
    transition: all .5s ease-out
}

.PopularPosts .widget-content ul li:first-child {
    border-bottom: none;
    padding: 0
}

.PopularPosts .widget-content ul li:first-child .item-thumbnail {
    max-height: 200px;
    margin: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: block
}

#box,
.PopularPosts .item-snippet,
.PopularPosts .widget-content ul li .item-thumbnail {
    display: none
}

.PopularPosts .widget-content ul li:first-child .item-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 20px 20px 20px 50px;
    background: rgba(0, 0, 0, .7);
    z-index: 1
}

.PopularPosts .widget-content ul li:first-child .item-title a {
    color: #fff
}

.PopularPosts .widget-content ul {
    padding-left: 0;
    counter-reset: popcount
}

.PopularPosts .widget-content ul li .item-title:before {
    list-style-type: none;
    padding: 0;
    counter-increment: popcount;
    content: counter(popcount);
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -19px;
    color: #fff;
    font-size: 38px;
    line-height: 1;
    z-index: 2
}

#footer-wrapper,
#sosmed a,
.Label li {
    position: relative
}

.sidebar .PopularPosts .item-title a,
.sidebar-sticky .PopularPosts .item-title a {
    color: #fff;
    text-decoration: none
}

.PopularPosts .widget-content ul li:first-child .item-title:before {
    color: #fff
}

.Label ul {
    padding: 0;
    display: table
}

.Label li {
    overflow: hidden;
    display: inline-block;
    margin: 0 2.5px 5px;
    padding: 0;
    font-size: 14px;
    width: 48%
}

.Label li a,
.Label ul li span {
    background: #ecf0f1;
    color: #888;
    padding: 8px 12px;
    display: block;
    font-size: 13px;
    transition: initial;
    overflow: hidden;
    border-radius: 3px
}

.Label li a:hover {
    background: #747d8c;
    color: #fff
}

.Label ul li span {
    background: #f24a4a;
    color: #fff
}

.label-size-1,
.label-size-2,
.label-size-3,
.label-size-4,
.label-size-5 {
    font-size: 100%;
    filter: alpha(100);
    opacity: 10
}

.cloud-label-widget-content {
    text-align: left;
    display: table
}

#blog-pager,
#footer-wrapper,
.blog-pager {
    text-align: center;
    clear: both
}

.label-size {
    background: #fff;
    border: 2px solid #d64136;
    border-radius: 5px;
    display: block;
    margin: 0 3px 3px 0;
    color: #d64136;
    font-size: 13px;
    line-height: 1.2
}

.label-size a,
.label-size span {
    display: inline-block;
    color: #d64136 !important;
    padding: 5px 12px;
    font-weight: 500
}

.label-count {
    background: #fff;
    color: #d64136
}

#blog-pager,
.blog-pager {
    display: table;
    padding: 5px 10px 5px 0;
    font-weight: 600;
    margin: 15px auto 30px
}

#blog-pager-older-link {
    float: right
}

#blog-pager-newer-link a,
#blog-pager-older-link a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: #d64136;
    color: #fff;
    padding: 12px 14px
}

#blog-pager-older-link a {
    margin: 0 0 0 10px;
    text-align: right
}

#blog-pager-newer-link a {
    margin: 0 10px 0 0;
    text-align: left
}

#blog-pager a.home-link {
    display: table;
    background: #d64136;
    color: #fff;
    float: none;
    padding: 12px 14px;
    margin: auto
}

#blog-pager i {
    font-family: fontawesome;
    font-style: normal;
    font-weight: 400
}

.feed-links {
    clear: both;
    line-height: 2.5em
}

#footer-wrapper {
    color: #fff;
    background: #962a1e;
    width: 100%;
    overflow: hidden
}

#footer-wrapper a {
    color: #efefef
}

#footer-wrapper a:hover {
    color: #fff
}

#foot {
    padding: 0;
    margin: 0;
    width: 100%;
    clear: both;
    font-weight: 700
}

#foot-data-niz {
    padding: 0;
    margin: 0 auto;
    max-width: 1000px
}

.footer-menu {
    padding: 0;
    width: 100%;
    clear: both;
    margin: 0
}

.footer-menu ul {
    margin: 20px 0 0;
    padding: 0
}

.footer-menu ul li {
    display: inline-block;
    margin: 0
}

.footer-menu ul li a {
    overflow: hidden;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px
}

#tombol,
.middle-ads,
.middle-ads span {
    text-align: center;
    padding: 0
}

.inline_wrapper {
    display: block;
    width: 100%
}

.middle-ads {
    width: auto;
    height: auto;
    margin: 5px 0 0;
    display: block
}

.middle-ads span {
    display: block;
    color: #bbb;
    margin: 0 auto 4px;
    font-weight: 400 !important;
    font-size: 90%
}

#sosmed a,
a.tombol {
    display: inline-block
}

#sosmed {
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 0 auto 5px;
    clear: both
}

#sosmed a {
    font-size: 16px;
    line-height: 2.6em;
    width: 40px;
    padding: 10px;
    margin-right: 5px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 100%;
}

.script,
a.tombol {
    border-radius: 5px
}

#sosmed a:hover {
    opacity: .8
}

.fb {
    background: #4867aa
}

.twt {
    background: #1da1f2
}

.gplus {
    background: #dc4a38
}

.yt {
    background: #ca2128
}

.ig {
    background: #c1006a
}

#footer-copy {
    background: rgba(34, 34, 34, .35);
    clear: both;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700
}

#tombol {
    float: left;
    width: 100%;
    margin: 15px 0;
    font-size: 14px;
    clear: both
}

a.tombol {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
    font-weight: 700;
    padding: 10px 30px !important;
    background: #d64136;
    color: #fff !important;
    float: left;
    margin: 15px
}

a.tombol:hover {
    background: #c0392b
}

.pro,
.script {
    background: #d64136;
    color: #fff
}

.script {
    padding: 2px 10px
}

.pro {
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    height: auto
}

@media screen and (max-width:768px) {
    #header-wrapper {
        margin: 0 auto;
        width: auto;
        max-width: 200px;
        float: none;
        padding: 0 0 0 15px
    }

    #header img {
        margin: 0
    }

    #container,
    #container-data-niz,
    #foot-data-niz,
    #post-wrapper,
    .boxnya {
        width: 100%;
        max-width: 100%
    }

    #post-wrapper {
        margin-bottom: 0 !important
    }

    nav {
        padding: 0;
        width: 100%
    }

    .nav_wrapper {
        font-size: 12px;
        width: 100%;
        padding-right: 0;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2)
    }

    .spinner-master * {
        transition: all .3s;
        box-sizing: border-box
    }

    .spinner-master {
        height: 0;
        width: 0;
        float: left
    }

    .spinner-master label {
        cursor: pointer;
        position: absolute;
        z-index: 99;
        display: inline;
        width: 30px;
        top: 19px;
        left: 15px
    }

    .spinner-master .spinner {
        position: absolute;
        height: 3.5px;
        width: 100%;
        padding: 0;
        background-color: #fff
    }

    .spinner-master .diagonal.part-1 {
        position: relative;
        float: right
    }

    .spinner-master .diagonal.part-2,
    .spinner-master .horizontal {
        position: relative;
        float: right;
        margin-top: 4px
    }

    .spinner-master input[type=checkbox]:checked~.spinner-spin>.horizontal {
        opacity: 0
    }

    .spinner-master input[type=checkbox]:checked~.spinner-spin>.diagonal.part-1 {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin-top: 10px
    }

    .spinner-master input[type=checkbox]:checked~.spinner-spin>.diagonal.part-2 {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        margin-top: -12px
    }

    a.menu-link {
        display: block;
        color: #fff;
        position: absolute;
        float: right;
        text-decoration: none;
        padding: 0;
        font-size: 12px;
        top: 0;
        right: 0
    }

    #blank,
    .menu {
        height: 100%;
        position: fixed
    }

    a.menu-link:hover {
        color: #efa666
    }

    a.menu-link:after {
        content: "\2630"
        ;
        font-weight: 500
    }

    a.menu-link.active:after {
        content: "\2715"

    }

    .nav-image {
        display: block !important
    }

    .menu {
        clear: both;
        min-width: inherit;
        left: -300px;
        width: 300px;
        padding: 0;
        float: none
    }

    #blank,
    .menu.active,
    .menu>ul ul.active {
        left: 0
    }

    .menu,
    .menu>ul ul {
        overflow: hidden;
        background: #fff;
        box-shadow: 0 10px 20px
    }

    .menu>li>ul.sub-menu {
        padding: 0;
        border: none
    }

    #blank {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        top: 0;
        z-index: 80;
        display: none;
        content: ''

    }

    .blank-show {
        display: block !important
    }

    .menu ul {
        display: inline
    }

    .menu li,
    .menu>ul>li {
        display: block;
        background: #fff
    }

    .menu ul li a,
    .menu ul li>a {
        transition: all .1s ease-in-out;
        color: #000;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd
    }

    .menu li a {
        color: #000;
        display: block;
        padding: .8em;
        position: relative
    }

    .menu li.has-submenu>a:after {
        content: '+';
        position: absolute;
        top: 10px;
        right: 0;
        font-size: 1.5em;
        padding: 0;
        width: 2.5em;
        text-align: center
    }

    .menu li.has-submenu>a.active:after {
        content: "-";
        display: block
    }

    .menu ul ul>li a {
        color: #222;
        padding: 10px 18px 10px 30px;
        background: #fff
    }

    .menu ul li>a {
        padding: 15px
    }

    .menu ul li a:hover,
    .menu ul li.hover>a {
        background: #fff;
        color: #222;
        border-left: 5px solid #c0392b
    }

    .menu ul li.hover ul {
        display: block
    }

    .menu ul ul,
    .menu ul ul ul {
        background: #fff;
        display: none;
        position: relative;
        left: auto;
        top: auto;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .FeaturedPost .post-summary h2 {
        font-size: 22px
    }

    #background h3 {
        font-size: 30px;
        padding: 40px 0 0
    }

    #background {
        height: 400px
    }

    #sidebar-wrapper,
    .sidebar-sticky {
        max-width: 100%;
        width: 100%
    }
}

#searchform,
.recentpostel {
    position: relative;
    overflow: hidden
}

@media screen and (max-width:580px) {
    .FeaturedPost .post-summary h2 {
        font-size: 16px
    }

    #share {
        width: 100%;
        float: left;
        padding: 15px;
        text-align: center;
        margin: 0 auto 5px
    }

    #share-bawah a {
        width: 40px
    }

    .kolom-author {
        padding: 5px 10px
    }

    #wadah {
        height: 550px
    }

    .FeaturedPost .post-summary {
        max-height: 300px
    }
}

@media screen and (max-width:500px) {

    .FeaturedPost .post-summary,
    .FeaturedPost h2,
    h2#judul-post {
        margin: 0 0 10px
    }

    #sidebar-wrapper,
    .sidebar-sticky {
        max-width: 100%
    }

    .FeaturedPost .post-summary {
        max-height: 250px
    }
}

@media screen and (max-width:480px) {
    body {
        font-size: 14px
    }

    .kolom-author {
        padding: 5px 10px
    }

    .post img.firstimage {
        height: 250px
    }

    #wadah {
        height: 350px
    }

    h1.post-title.entry-title,
    h2.post-title.entry-title {
        font-size: 25px;
        text-align: left;
        padding-top: 5px
    }

    #content-wrapper {
        padding: 20px 5px
    }

    .breadcrumbs,
    .post-body,
    h1.post-title.entry-title,
    h2.post-title.entry-title {
        padding: 10px
    }

    .info-data-niz {
        padding: 20px 5px
    }
}

@media screen and (max-width:380px) {
    .nav-grid ul li {
        width: 50%
    }

    #background {
        height: 385px
    }

    #background h3 {
        display: none
    }

    .FeaturedPost .post-summary {
        max-height: 200px
    }
}

@media screen and (max-width:300px) {
    body {
        font-size: 13px
    }

    #share a.li,
    #share a.pt {
        display: none
    }

    .kolom-author {
        padding: 5px
    }

    #content-wrapper {
        padding: 0
    }

    .breadcrumbs,
    .post-body,
    h1.post-title.entry-title,
    h2.post-title.entry-title {
        padding: 5px
    }

    .info-data-niz {
        padding: 20px 0
    }
}

@media screen and (max-width:270px) {
    .about-author img {
        width: 45px;
        height: 45px
    }
}

#recentpostnav {
    border: 1px solid #585858;
    width: 100%;
    margin: 0 auto
}

#recentpostsae {
    margin: 0
}

.recentpostel {
    background: #fff;
    display: block;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    min-height: 90px
}

.recentpostel img {
    top: -10px;
    background: #fff;
    padding: 4px;
    float: left;
    height: 70px;
    margin-right: 8px;
    width: 70px;
    border: 1px solid #ddd
}

#recentpostnavfeed:hover,
.recentpostel:hover {
    background-color: #fefefe
}

.recentpostel h6,
.recentpostel h6 a {
    text-decoration: none;
    font-size: 13px !important;
    font-weight: 700 !important;
    margin: 0;
    color: #111
}

.recentpostel p {
    font-size: 12px;
    text-align: left;
    color: #555;
    line-height: normal;
    margin: 5px 0
}

#box,
#hide span.smallbutton,
#recentpostload,
#recentpostnavfeed,
#recentpostnavfeed .homeA,
.aboutfloat-img,
.extender .lightsosmed-icon,
.lightsosmed-info {
    text-align: center
}

#recentpostload {
    color: #888;
    font-family: Tahoma;
    font-size: 100px;
    letter-spacing: -10px;
    text-shadow: -5px 0 1px #444;
    background: url(https://2.bp.blogspot.com/-60aISBQLRY0/VFBMqzLfzGI/AAAAAAAABgM/GInmVTvEzkc/s1600/loader.gif) 50% 50% no-repeat #fff;
    height: 470px;
    border: 1px solid #ddd
}

#recentpostnavfeed {
    border: 1px solid #ddd;
    color: #bbb;
    font-family: Verdana;
    font-size: 12px;
    margin: 0
}

#recentpostnavfeed a {
    color: #141414 !important;
    font-family: Tahoma !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    display: block;
    padding: 5px 10px
}

#recentpostnavfeed span {
    padding: 5px 10px
}

#recentpostnavfeed .nextA {
    float: right
}

#recentpostnavfeed .previousA {
    float: left
}

#recentpostnavfeed a:hover,
#recentpostnavfeed span.noactived {
    color: transparant !important
}

#search-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: shownow .3s ease-in-out;
    -moz-animation: shownow .3s ease-in-out;
    animation: shownow .3s ease-in-out
}

@keyframes shownow {
    0% {
        transform: scale(.9)
    }

    50% {
        transform: scale(1.01)
    }

    100% {
        transform: scale(1)
    }
}

#search-wrap {
    clear: both;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    display: block;
    overflow: hidden
}

#search {
    border-bottom: 3px solid rgba(63, 63, 63, .8)
}

#searchform {
    color: #111;
    width: 100%;
    margin: 0 auto
}

.search-button,
.search-button:hover {
    clear: both;
    background: 0 0;
    border: none;
    color: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 700
}

.search-button:active {
    border: none;
    outline: 0;
    background: 0 0
}

#search-form {
    background-color: transparent;
    width: 100%;
    height: 57px;
    line-height: 57px;
    padding: 0 60px 0 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font-weight: 700;
    font-size: 25px;
    color: #fff !important;
    -webkit-box-sizing: border-box
}

#search-form:focus {
    border: none;
    outline: 0;
    color: #fff
}

#searchform:focus {
    border: none;
    outline: 0;
    color: #3f3f3f
}

#box {
    margin: 0 auto;
    padding: 60px 0 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background-color: rgba(0, 0, 0, .94);
    -webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    -ms-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s
}

#hide span.smallbutton {
    color: #fff;
    font-weight: 700;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    height: 35px;
    width: 35px;
    line-height: 30px;
    border-radius: 99em;
    border: 3px solid #fff;
    float: right;
    overflow: hidden;
    display: block
}

#hide span.smallbutton:hover {
    color: #eee;
    border-color: #eee
}

#box p {
    font-size: 14px;
    margin: 15% auto 70px;
    color: #fff;
    letter-spacing: 2px
}

.search-icon a {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 16px;
    padding: 10px 13px;
    color: #fff;
    margin-right: 10px
}

.lightsosmed-float {
    display: table;
    width: 100%;
    height: 100%
}

.lightsosmed-float a {
    background: rgba(0, 0, 0, .2);
    color: #fff;
    padding: 8px 14px;
    z-index: 2;
    display: table-cell;
    width: 100%;
    font-size: 90%;
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .05);
    transition: all .3s
}

.lightsosmed-float:hover a {
    background: #e74c3c;
    color: #fff;
    border-color: transparent
}

.lightsosmed-float a i {
    font-weight: 400;
    margin: 0 5px 0 0
}

.lightsosmed-wrpicon {
    display: block;
    margin: 15px auto;
    position: relative
}

.lightsosmed-wrpicon .extender {
    display: flex
}

.extender {
    font-size: 16px
}

.lightsosmed-img {
    position: relative;
    max-height: 140px;
    height: 140px;
    overflow: hidden
}

.lightsosmed-img img {
    margin-top: 0 !important;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
    transition: all .6s
}

.lightsosmed-img:hover img {
    transform: scale(1.2) rotate(-10deg)
}

.lightsosmed-img:before {
    content: '';
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: all .3s
}

.lightsosmed-img:hover:before {
    background: rgba(0, 0, 0, .6)
}

.aboutfloat-img {
    width: 55%;
    position: absolute;
    top: 35%;
    bottom: 35%;
    left: 22.5%;
    z-index: 3
}

.extender .lightsosmed-icon {
    border: 0;
    margin: 0 2px;
    padding: 0;
    width: 100%
}

.extender .lightsosmed-icon a {
    background: #ccc;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    line-height: 32px;
    font-size: 12px;
    width: 100%
}

.extender .lightsosmed-icon i {
    font-family: fontawesome;
    margin: 0 3px 0 0
}

.lightsosmed-icon.fbl a {
    background: #4267b2
}

.lightsosmed-icon.twitt a {
    background: #19bfe5
}

.lightsosmed-icon.crcl a {
    background: #d64136
}

.lightsosmed-icon.crcl a:hover,
.lightsosmed-icon.fbl a:hover,
.lightsosmed-icon.twitt a:hover {
    background: #404040
}

.extender .lightsosmed-icon a:hover,
.extender .lightsosmed-icon:hover a {
    color: #fff
}

.lightsosmed-info {
    margin: 10px 0 0;
    font-size: 13px
}

.lightsosmed-info p {
    margin: 5px 0
}

.lightsosmed-info h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    font-weight: 700
}

.lightsosmed-info h4 span {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    margin: 0 auto
}

.lightsosmed-info h4:before {
    margin-left: -50%;
    text-align: right
}

.tblAplikasi {
    position: relative;
    margin: 5px 0;
    padding: 0 10px;
    display: flex
}

.tblAplikasi a {
    background: #d64136;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: #fff
}

.tblAplikasi a:hover {
    background: #555
}

.sidebar_about_author {
    margin-top: 10px
}

.CSS_LIGHTBOX {
    position: fixed !important;
    z-index: 9999 !important
}

.niz-container {
    top: 50px;
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden
}

.niz-gbrintro,
.niz-gbrintro:after {
    position: absolute;
    width: 100%;
    height: 100%
}

.niz-gbrintro {
    position: relative;
    display: block;
    filter: brightness(80%);
    top: 0;
    left: 0;
}

.niz-gbrintro>img:after {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
    content: ''

}

label.niz-welcome {
    position: relative;
    color: #fff;
    font-size: 30px;
    display: block;
    font-family: 'Maven Pro',
        Arial,
        sans-serif
}

label.niz-message {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: "Maven Pro"
        ,
        Arial,
        sans-serif
}

.niz-desc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%
}

.niz-imgcont {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden
}

.niz-imgcont img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff
}

@media only screen and(max-width:400px) {
    label.niz-welcome {
        font-size: 20px
    }

    label.niz-message {
        font-size: 15x
    }
}

.nav-image {
    position: relative;
    background: url(https://4.bp.blogspot.com/-9o3285wJxgc/W031bfFxGKI/AAAAAAAAAh8/tsI4e-0wpLoj9IczhVhwz8c--zA-sMspgCLcBGAs/w300-h180-c/Gue%2B-Catatan%2BNizwar%2BID.jpg) no-repeat;
    height: 160px;
    width: auto;
    display: none
}

.nav-image>label {
    position: absolute;
    bottom: 10px;
    color: #fff;
    padding: 10px
}

.h1 {
    font-size: 20px;
    margin-bottom: 0
}

.nav-image::before {
    position: absolute;
    background: -webkit-linear-gradient(#00000000, #000000aa);
    height: 100%;
    width: 100%;
    content: ''

}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1.5s infinite;
    -moz-animation: rotating 1.5s infinite;
    -ms-animation: rotating 1.5s infinite;
    -o-animation: rotating 1.5s infinite;
    animation: rotating 1.5s infinite;
}